<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/imgs/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li> -->
        </ul>
        <ul class="navbar-nav">
            <li *showAuthed="false" class="nav-item" (click)="goToRegistration()">
                <a class="nav-link">Sign Up</a>
            </li>
            <li *showAuthed="false" class="nav-item" (click)="goToLogin()">
                <a class="nav-link">Sign In</a>
            </li>
            <li *showAuthed="true" class="nav-item" (click)="signout()">
                <a class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col mr-4">
            <ul [formGroup]="form">
                <h3 class="mb-3">Filters</h3>
                <button class="btn btn-primary mb-3" (click)="getBoxes()">Search</button>
                <div class="row" *showAuthed="true">
                    <!-- <div class="col-3">
                        <div class="form-group">
                            <label for="hasImage">Has image</label>
                            <input type="checkbox" formControlName="hasImage" class="form-control" />
                        </div>
                    </div> -->
                    <div class="col">
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input ngx-google-places-autocomplete class="form-control" formControlName="location"
                                (onAddressChange)="handleAddressChange($event)" />
                        </div>
                    </div>
                </div>
                <div class="row" *showAuthed="true">
                    <div class="col">
                        <div class="form-group">
                            <label for="radius">Radius</label>
                            <div class="input-group">
                                <input type="number" formControlName="radius" class="form-control" />
                                <span class="input-group-text">meters</span>
                            </div>
                        </div>
                    </div>
                </div>
                <label for="minAmount">Amount</label>
                <div class="row form-group">
                    <div class="col">
                        <input type="number" min="0" formControlName="minAmount" class="form-control"
                            placeholder="Min" />
                    </div>
                    <div class="col">
                        <input type="number" formControlName="maxAmount" class="form-control" placeholder="Max" />
                    </div>
                </div>
                <label for="minWidth">Width (cm)</label>
                <div class="row form-group">
                    <div class="col">
                        <input type="number" formControlName="minWidth" class="form-control" placeholder="Min" />
                    </div>
                    <div class="col">
                        <input type="number" formControlName="maxWidth" class="form-control" placeholder="Max" />
                    </div>
                </div>
                <label for="minWidth">Height (cm)</label>
                <div class="row form-group">
                    <div class="col">
                        <input type="number" min="0" formControlName="minHeight" class="form-control"
                            placeholder="Min" />
                    </div>
                    <div class="col">
                        <input type="number" formControlName="maxHeight" class="form-control" placeholder="Max" />
                    </div>
                </div>
                <label for="minWidth">Length (cm)</label>
                <div class="row form-group">
                    <div class="col">
                        <input type="number" min="0" formControlName="minLength" class="form-control"
                            placeholder="Min" />
                    </div>
                    <div class="col">
                        <input type="number" formControlName="maxLength" class="form-control" placeholder="Max" />
                    </div>
                </div>
            </ul>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col">
                    <h3 class="mb-3">Boxes</h3>
                </div>
                <div class="col-3">
                    <button *showAuthed="true" class="btn btn-primary" (click)="addBox()">Add Box</button>
                </div>
            </div>
            <h5 *ngIf="!boxes || boxes.length === 0">
                No data to show. Be the first one to post a box!
            </h5>
            <table class="table" *ngIf="boxes && boxes.length > 0">
                <tr>
                    <th>Amount</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Length</th>
                    <th *showAuthed="true">Image</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let box of boxes">
                    <td>{{ box.amount }}</td>
                    <td>{{ box.width }}</td>
                    <td>{{ box.height }}</td>
                    <td>{{ box.length }}</td>
                    <td *showAuthed="true">
                        <img *ngIf="box.image" [src]="box.image">
                        <span *ngIf="!box.image">NA</span>
                    </td>
                    <td>
                        <button *showAuthed="true" class="btn btn-primary"
                            (click)="open(content, box)">Contact</button>
                        <button *showAuthed="false" class="btn btn-primary" placement="top"
                            ngbTooltip="Please sign in to view the contact info">Contact</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Contact information</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name"><strong>Name</strong></label>
            <p>{{ currentName }}</p>
        </div>
        <div class="form-group">
            <label for="email"><strong>Email</strong></label>
            <p>{{ currentEmail }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>